.todo-list {
  color: lightblue;
  width: 500px;
  margin: 50px auto;
  text-align: center;
}

.todo-list li {
  color: black;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 60%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  outline: none;
}

button[type="submit"] {
  width: 40%;
  padding: 10px;
  font-size: 18px;
  background-color: lightblue;
  color: white;
  border: 1px solid lightblue;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: lightgray;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: lightcoral;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
